body {
  --dark-gray: #1F2937;
  --gray: #4B5563;
  --light-gray: #9CA3AF;
  --white: #F9FAFB;
}

.menu-btn,
.menu {
  background-color: var(--gray);
  color: var(--white);
  border: 4px solid var(--dark-gray);
  font-size: 1.5rem;
  z-index: 1;
}

.menu-btn {
  position: relative;
  width: 200px;
}

.menu-btn,
.menu li {
  padding: 3px 6px;
}

.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0%;
  top: 100%;
  width: 100%;
  max-height: 200px;
  transition: max-height 300ms;
  overflow: hidden;
}

.menu li {
  list-style-type: none;
  text-align: start;
  border-top: 1px solid var(--light-gray);
  font-size: 1.3rem;
}

.menu li:first-child,
.menu.hidden li {
  border-top: none;
}

.hidden {
  /* display: none; */
  max-height: 0px;
  border: none;
}


@media (max-width: 768px) {
  div {
    display: flex;
  }

  .menu-btn {
    flex: 1;
  }
}
